<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title class="text-sansita" color="light">
            Películas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="8">
                <h3>Películas nuevas</h3>
            </ion-col>
            <ion-col size="4">
                <h3 class="ion-text-end"><small>{{numeroPeliculasRecientes}} resultados</small></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-radio-group value="lastWeek" [(ngModel)]="periodo" (ionChange)="onClick($event)">
            <ion-item>
                <ion-label>Última semana</ion-label>
                <ion-radio slot="start" value="lastWeek"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Último mes</ion-label>
                <ion-radio slot="start" value="lastMonth"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Último año</ion-label>
                <ion-radio slot="start" value="lastYear"></ion-radio>
            </ion-item>
        </ion-radio-group>
        <ion-item>
            <ion-label position="floating"><small>Rango de puntuación</small></ion-label>
            <ion-range min="0" max="10" dual-knobs="true" pin="true" debounce="1500" snaps="true" step="1" ticks="true" value="10" color="primary" (ionChange)="rangeChange($event)">
                <ion-icon size="small" color="medium" slot="start" name="star"></ion-icon>
                <ion-icon slot="end" color="medium" name="star"></ion-icon>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Selecciona número de votos mínimo</ion-label>
            <ion-input type="number" color="primary" placeholder="1" [(ngModel)]="numeroVotos" debounce="1500" (ionChange)="onClick($event)" required></ion-input>
        </ion-item>
    </ion-list>

    <!-- <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let pelicula of peliculasRecientes">

            <ion-card>
                <img [src]="pelicula.backdrop_path | imagen">
            </ion-card>

        </ion-slide>
    </ion-slides> -->

    <app-slideshow-backdrop [peliculas]="peliculasRecientes" [totalPagesReached]="totalPagesRecientesReached" (loadMoreEvent)="loadMoreEnCartelera()"></app-slideshow-backdrop>

    <!-- <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Cartelera</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slideshow-poster [peliculas]="peliculasRecientes" [slideOptions]="slideOpts" (loadMoreEvent)="loadMore()"></app-slideshow-poster> -->

    <ion-grid fixed>
        <ion-row>
            <ion-col size="8">
                <h3>Películas populares</h3>
            </ion-col>
            <ion-col>
                <h3 class="ion-text-end"><small>{{numeroPeliculasPopulares}} resultados</small></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item>
        <div slot="start">
            <ion-label position="floating">Selecciona año</ion-label>
            <ion-datetime color="primary" display-format="YYYY" picker-format="YYYY" min="1900" [max]="currentYear" [value]="currentYear" (ionChange)="yearChange($event)"></ion-datetime>
        </div>
        <div slot="end">
            <ion-label position="floating">Selecciona género</ion-label>
            <ion-select [value]="generos[0].id" interface="popover" okText="Done" cancelText="Cancel" (ionChange)="generoChange($event)">
                <ion-select-option *ngFor="let genero of generos" [value]="genero.id">{{genero.name}}</ion-select-option>
            </ion-select>
        </div>
    </ion-item>

    <!-- <ion-grid fixed>
        <ion-row>

            <ion-col size="6">
                <ion-label position="floating">Selecciona año</ion-label>
                <ion-datetime color="primary" display-format="YYYY" picker-format="YYYY" min="1900" [max]="currentYear" [value]="currentYear" (ionChange)="yearChange($event)"></ion-datetime>
            </ion-col>

            <ion-col size="6" class="ion-text-center">
                <ion-label position="floating">Selecciona género</ion-label>
                <ion-select [value]="generos[0].id" interface="popover" okText="Done" cancelText="Cancel" (ionChange)="generoChange($event)">
                    <ion-select-option *ngFor="let genero of generos" [value]="genero.id">{{genero.name}}</ion-select-option>
                </ion-select>
            </ion-col>
            <hr>
        </ion-row>
    </ion-grid> -->

    <ion-item>
        <ion-label position="floating"><small>Rango de número de votos mínimo</small></ion-label>
        <ion-range min="100" max="15000" pin="true" debounce="1500" snaps="true" step="100" ticks="true" [value]="puntuacionMinPopulares" color="primary" (ionChange)="rangeNumeroVotosChange($event)">
            <ion-icon size="small" color="medium" slot="start" name="ribbon"></ion-icon>
            <ion-icon slot="end" color="medium" name="ribbon"></ion-icon>
        </ion-range>
    </ion-item>

    <app-slideshow-pares [peliculas]="peliculasPopulares" [slideOptions]="slideOpts" [totalPagesReached]="totalPagesPopularesReached" (loadMoreEvent)="loadMorePopulares()"></app-slideshow-pares>

</ion-content>