ion-select {
  max-width: 100% !important;
  justify-content: right;
}


/* Set the flex in order to size the text width to its content */

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}