<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title class="text-sansita" color="light">
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <!-- <app-slideshow-poster [peliculas]="favoritos" [slideOptions]="slideOpts"></app-slideshow-poster> -->

    <ion-grid fixed>
        <ion-row>
            <ion-col size="6" size-md="3" *ngFor="let favorito of favoritos">

                <ion-card color="light" (click)="mostrarDetalle(favorito.id)">
                    <img [src]="favorito.poster_path | poster">
                    <div style="position: absolute; top:7px; left: 7px; padding: 1px; background-color: black; color: whitesmoke">{{favorito.vote_average}}</div>

                    <ion-card-content>
                        <h2>{{favorito.title}}</h2>
                        <h4><i>({{favorito.original_title}})</i></h4>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>